---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="Section 2">
  <main>
    <h1><span class="text-gradient">Development areas</span></h1>
		<div class="instructions">What areas do you want to focus on developing over the next year?</div>

    <div class="instructions">
      <p>
			  <strong>1.</strong> Use the experience from the past year's challeges to make recommendations that can communicate effectively the risks and benefits
        of potential technical complications to the rest of the business.
      </p>
      <p>
        <strong>2.</strong> What happens behind the scenes? What lies behind the whole creation process of a book? Who does all the magic that converts the code
        into these beautiful book pages? This is how I have always seen the mu2 renderer and I'm willing to find out more about it, by contributing
        in any way, either by writing code or not. I believe that so far I had the opportunity to take on a diverse range of projects and
        technologies offering me a broad knowledge base. This has its own risks as a non-specialised engineer but at the same time it's
        inspiring and it offeres a diverse set of skills.

        What happens behind the scenes? What lies behind the entire creation process of a book? Who performs the magic that transforms the code
        into these beautiful book pages? This is how I've always perceived the mu2 renderer, and I'm eager to learn more about it by contributing
        in any way, whether it's writing code or not. I believe that so far I had the opportunity to take on a diverse range of projects and
        technologies, which has provided me with a broad knowledge base. While being a non-specialized engineer carries its own risks, it's also
        inspiring and provides a diverse set of skills.
      </p>
		</div>

    <Button
      href="/my-astro-website/"
      title="&larr; Home"
    />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: #444;
		padding: 1rem;
		border-radius: 0.4rem;
  }
  .instructions strong {
		color: rgb(var(--accent));
	}
</style>