---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="Section 3">
  <main>
    <h1><span class="text-gradient">Learning</span></h1>
		<div class="instructions">What kind of learning do you expect to receive?</div>

    <div class="instructions">
      <p>
        Engineers have a lot of options when it comes to choosing a company to work for. Nowadays, all kinds of businesses need software
        engineers and developers. After spending 15 years in art education and art-related jobs, I've developed a particular mindset, and
        I'm looking for a diverse work environment. For example, I wouldn't apply for a job at a fintech company or in real estate.
      </p>
      <p>
        I enjoy working at Wonderbly because it's creative, innovative, and forward-thinking. Here, I could learn a great deal about
        efficiently building shiny websites, which might open up exciting opportunities for me in the future. However, what truly keeps me
        at Wonderbly is the diversity it offers, as well as the product itself — we make books! I love the beautiful illustrations, the
        artistry, and the passion that everyone puts into their work. The meaningful stories and the innovative technology that bring
        these concepts to life and create this unique product are also incredibly inspiring. Using technology to make the world a better
        place, rather than just chasing profits, is the ethos that has kept me at Wonderbly for all these years.
      </p>
      <p>
        For these reasons, I'd like to focus on innovative projects that can help me enhance my technical knowledge and, most importantly,
        keep me feeling inspired. I'm not as interested in building or maintaining websites; instead, I'm enthusiastic about delving deeper
        into our custom and innovative core systems that work their visual magic. At this stage of my career as a software developer, I'd
        prefer to be involved in more creative projects rather than becoming a React expert. I recognize that my mindset is a bit different,
        and I find inspiration in things that might not resonate with most engineers.
      </p>
    </div>
    
    <Button
      href="/my-astro-website/"
      title="&larr; Home"
    />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: #444;
		padding: 1rem;
		border-radius: 0.4rem;
  }
</style>