---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="Section 1">
  <main>
    <h1><span class="text-gradient">Accomplishments & Challenges</span></h1>
		<div class="instructions">
			<strong>What were your top accomplishments last year?</strong><br>
      <strong>What didn’t go so well? Why?</strong>
    </div>

    <div class="instructions">
      <p>
        <strong>1.</strong> Progressive Build on MPR CI: Products no longer need to process all images with every CI build. The Progressive Build feature filters
        out previously processed images and applies the job only to new assets committed. Initially developed for the WAY4 book, which previously
        processed all 56,000 images with every modified asset commit. With this update, a book like WAY4 now builds in approximately 10 minutes
        with a single asset change, compared to over 2.5 hours with the old CI build.
      </p>
      <p>
        <strong>2.</strong> Over the past year, the Tech Publishing Team made some significant changes to the foundation of our systems. I played a part in this
        both individually and as part of the team effort. One of my main tasks was tackling the issue of long URLs, where I created a proof of
        concept for potential solutions like URL compression. This played a crucial role in the decision-making process for these major
        changes. These decisions involved a new way of storing the book's <code>customisation</code> in the browser's <strong>Local Storage</strong>,
        where I made a substantial contribution to this effort, particularly in the first half of the year.
      </p>
      <p>
        <strong>3.</strong> This was followed by the introduction of the new Formats page in the PDC. Harry led this project, and I've been assisting from the
        beginning by setting up the page and its layout. Another significant change that followed was the <code>addToCart</code> functionality,
        which was owned by Harry. We then collaborated as a team on creating and delivering the addons and giftwraps pages in the PDC. These
        new features demanded a deep understanding of the broader scope of our systems and how they interact with each other. Throughout my
        collaboration with Harry, I've gained a solid understanding of the PDC application and its evolutionary journey.
      </p>
      <p>
        <strong>4.</strong> On a daily basis over the past year, my role also included supporting the freelance Muse devs during the Great Muse Migration process.
        This task demands a strong understanding of the Muse systems.
      </p>
		</div>

    <div class="instructions">
      <p>
        <strong>1.</strong> Tech Publishing Squad doesn't own PDC anymore?!
      </p>
      <p>
        <strong>2.</strong> We took risks by making core system changes in a very tight timeframe, which eventually led to further system refactoring.
        Borrowed from last year's review but still a valid question. We had to put on hold some of our other responsibilities, too.
        To what extent did we have to sacrifice other parts of our system for the completion of this project?
      </p>
    </div>

    <Button
      href="/my-astro-website/"
      title="&larr; Home"
    />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: #444;
		padding: 1rem;
		border-radius: 0.4rem;
  }
  .instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
  .instructions strong {
		color: rgb(var(--accent));
	}
</style>